.range {
    position: relative;
    cursor: default;
    &__label{
        box-sizing: border-box;
        font-size: toRem(16);
        line-height: toRem(24);
        color: rgba($black, 0.8);
        font-weight: 300;
        padding: toRem(20) 0;
        height: toRem(64);
        background-color: transparent;
        border-bottom: 1px solid rgba($black, 0.4);
        transition: color .3s ease;
    }
    &__number{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: toRem(16);
        line-height: toRem(24);
        font-weight: 300;
        color: $grayDark;
        transition: color .3s ease;
    }
    &.error{
        .range{
            &__label, &__number{
                color: $warning;
            }
        }
    }
}