.table{
    &__row{
        box-sizing: border-box;
        border-bottom: 1px solid $grayDark;
        height: toRem(60);
        &--head{
            border-width: 2px;
        }
    }
    &__column{
        display: inline-block;
        vertical-align: top;
        height: 100%;
        box-sizing: border-box;
        padding: toRem(4);
        text-align: center;
        font-size: toRem(16);
        font-weight: 300;
        line-height: toRem(60);
        color: rgba($black, 0.8);
        border-right: 1px solid $grayDark;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &:last-child{
            border-right: 0;
        }
        input{
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: inherit;
            color: inherit;
            text-overflow: ellipsis;
            &::-webkit-inner-spin-button{
                display: none;
            }
        }
        &--head{
            border-width: 2px;
        }
    }
}